/*Обнуление*/
*{
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}
ul li{
	list-style: none;
}
a{
	text-decoration: none;
	color: black;
}

/*---*/

/*	font-family: 'Open Sans', sans-serif;
*/
html{
	scroll-behavior: smooth;
}

.body{
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
}



/*NAV----------------------*/
.nav__container{
	width: 100%;
	margin: 0 auto;
	padding: 15px 15px;
	display: flex;
	justify-content: center;
	position: absolute;
	background-color: #f2a996 ;
	position: fixed;
}

.nav__item{
	display: inline;
	padding: 0 30px;
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	align-items: center;
	opacity: .50;
	transition: opacity .1s linear;
}

.nav__item:hover{
	opacity: 1;
}

.nav__link{
	color: black;
}

/*HEADER------------*/
.header__container{
	height: 500px ;
	background-image: url("/rsschool-cv/assets/img/bg.jpg");
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	padding-top: 100px;  ;
	border-bottom: 2px solid #f2a996 ;
}

.header__picture{
	border-radius: 50%;
	width: 250px;
}

.header__title{
	padding-top: 30px;
	color: #cf7761;
	font-family: 'Open Sans', sans-serif;
}

.header__name{
	padding-bottom: 15px;
	font-size: 20px;
}

/*MAIN----------------------*/

.section__title{
	background-color: #cf7761;
	color: black;
	opacity: .75;
	text-align: center;
	padding: 5px;

	;
}

section{
	width: auto;
	border-bottom: 1px solid #cf7761;
	height: 300px;
	margin: 50px;
}

.content{
	font-size: 21px;
	line-height: 3;
	letter-spacing: 1px;
	padding: 5px 30px; 
}

.main__container{
	display: grid;
	grid-template-columns: 50% 50%;
}



/*FOOTER---------------------*/

.footer__container{
	display: grid;
	grid-template-columns: 33% 33% 33%;
	background-color: #cf7761;
	width: 100%;
	text-align: center;
}

.year{
	font-size: 20px;
	padding-top: 15px;
	font-weight: 700;
}

.git__link{
	font-size: 25px;
	padding-top: 10px;
	opacity: .75;
	transition: opacity .1s linear;
}
.git__link:hover{
	opacity: 1;
}